@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/RobotoCondensed.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/RobotoCondensed-Italic.ttf');
  font-weight: 100 900;
  font-style: italic;
}
